body {
    background-color: antiquewhite;
    padding: 15px 30px;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px;

    div {
        min-height: 50px;
        border: 1px solid black;
    }
}