@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body {
    background-color: #fdf6ee;
    padding: 0; margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;

    &::-webkit-scrollbar {
        display: none;
    }
}


// Classes

.page-title {
    font-size: 60px;
    font-style: italic;
    transition: margin-top .7s ease, margin-bottom .3s ease;

    &.shrink {
        margin: 15px auto;
    }
}

input, button {
    padding: 10px;
    font-size: 16px;
    -webkit-appearance: none;
    appearance: none;
}

input {
    border-style: hidden;
}

button {
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    border: 1px solid rgb(210,70,70);
    border-radius: 4px;
    width: fit-content;
    padding: 10px;
    color: rgb(210,70,70);
    background-color: transparent;
}

@keyframes ellipsis {
    to {
      width: 1.25em;    
    }
}

.loading {
    margin-top: 15px;
    &:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
        animation: ellipsis steps(4,end) 900ms infinite;
        content: "\2026";
        width: 0px;
      }
}

.timespan-option {
    padding: 2px 7px;
    margin: 10px 2px 5px 2px;
    border: 1px solid #999;
    border-radius: 4px;
    color: #999;
    cursor: pointer;

    &.selected {
        border-color: black;
        color: black;
    }

    &:hover:not(.selected) {
        background-color: black;
        color: white;
        border-color: black;
    }
}

// Layout

.city-area {
    padding: 15px 0 calc(1em + 15px) 0;
    background-color: antiquewhite;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    .search-area {
        flex: 1;

        .search-container {
            button {
                margin-left: 10px;
            }
        }
        .error {
            margin: 15px auto 0 auto;
            min-width: 220px;
        }
    }

    .city-info {
        flex: 1;
        max-width: 2000px;
        transition: max-width .7s ease-in-out;

        &.collapsed {
            max-width: 0px;
        }

        .city-name {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px;
    margin: 30px auto 30px auto;
    padding: 15px;

    .weather-chart {
        padding: 10px;
        border: 1px solid black;

        .timespan-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }
    }
}